@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  min-height: 100vh;
  background: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: #212121;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  body::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1; }

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.btn {
  background: #727d71;
  padding: 0.7rem 1.3rem;
  color: #fff;
  border-radius: 10px; }
  .btn:hover {
    background: #8c968b; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield; }

.signUp .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000; }
  .signUp .overlay .sign-up_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 20px;
    width: 80%; }
    @media screen and (min-width: 780px) {
      .signUp .overlay .sign-up_content {
        width: 700px !important; } }
    .signUp .overlay .sign-up_content h1 {
      font-size: 18px;
      font-weight: bold; }
      @media screen and (min-width: 481px) {
        .signUp .overlay .sign-up_content h1 {
          font-size: 25px; } }
    .signUp .overlay .sign-up_content input {
      width: 100%;
      margin-bottom: 1rem;
      font-size: 20px;
      border: 1px solid #4d4d4d;
      border-radius: 10px;
      padding: 0.3rem;
      color: #4d4d4d; }
      @media screen and (min-width: 481px) {
        .signUp .overlay .sign-up_content input {
          width: 80%; } }
      .signUp .overlay .sign-up_content input:focus {
        outline: none; }
    .signUp .overlay .sign-up_content p {
      font-size: 0.9rem;
      margin: 1rem 0;
      color: #212121; }

.successfull {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background: #727d71;
  color: #fff;
  z-index: 9999;
  padding: 1rem 1rem;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  font-size: 1.3rem; }

.closeWindow {
  border: none;
  border-radius: 50%;
  background-color: #727d71;
  padding: 0.5rem 0.9rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #fff;
  font-weight: bold; }
  .closeWindow:hover {
    background-color: #8c968b; }

.payments {
  border-bottom: 1px solid #4d4d4d; }
  .payments .transfer,
  .payments .loan,
  .payments .delete {
    background-color: #85ffbd;
    background-image: linear-gradient(135deg, #85ffbd 0%, #fffb7d 100%);
    padding: 1rem 0;
    margin-top: 2rem;
    border-radius: 10px; }
    .payments .transfer h2,
    .payments .loan h2,
    .payments .delete h2 {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 1rem; }
      @media screen and (min-width: 780px) {
        .payments .transfer h2,
        .payments .loan h2,
        .payments .delete h2 {
          font-size: 1.7rem; } }
    .payments .transfer-inputs,
    .payments .loan-inputs,
    .payments .delete-inputs {
      margin-bottom: 0.5rem; }
      .payments .transfer-inputs input,
      .payments .loan-inputs input,
      .payments .delete-inputs input {
        margin: 0.5rem 0;
        width: 80%;
        font-size: 15px;
        border: 1px solid #4d4d4d;
        border-radius: 10px;
        padding: 0.3rem;
        color: #4d4d4d; }
        @media screen and (min-width: 780px) {
          .payments .transfer-inputs input,
          .payments .loan-inputs input,
          .payments .delete-inputs input {
            width: 40%;
            font-size: 20px; } }
  .payments .loan {
    background-color: #fbab7e;
    background-image: linear-gradient(213deg, #fbab7e 0%, #f7ce68 100%); }
  .payments .delete {
    background-color: #ffe53b;
    background-image: linear-gradient(286deg, #ffe53b 0%, #ff2525 74%);
    margin-bottom: 2rem; }

.loanMessage {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background: #727d71;
  color: #fff;
  z-index: 9999;
  padding: 1rem 1rem;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  font-size: 1.3rem; }

.login {
  background: #fff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 0 2rem 3rem;
  border-radius: 20px; }
  .login-logo {
    width: 140px;
    height: 80px;
    margin: 2rem -2rem 2rem 0; }
    .login-logo img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .login input {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 20px;
    border: 1px solid #4d4d4d;
    border-radius: 10px;
    padding: 0.3rem;
    color: #4d4d4d; }
    .login input:focus {
      outline: none; }
  .login .btn-signIn {
    margin-top: 1rem; }
  .login .signInError {
    font-size: 0.9rem;
    margin: 1rem 0 0.3rem;
    text-align: start;
    align-self: flex-start;
    color: #4d4d4d; }
  .login .or {
    color: #4d4d4d;
    margin: 0.8rem 0;
    position: relative;
    padding: 0 20px; }
    .login .or::before, .login .or::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 150%;
      /* Adjust the width of the lines */
      height: 1px;
      /* Adjust the height of the lines */
      background-color: #4d4d4d;
      /* Adjust the color of the lines */ }
    .login .or::before {
      left: 100%; }
    .login .or::after {
      right: 100%; }

.user-view {
  background: #fff;
  padding: 2rem 3rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 20px;
  text-align: center;
  margin: 3rem 0; }
  .user-view__welcome {
    border-bottom: 1px solid #4d4d4d; }
    .user-view__welcome h1 {
      font-size: 3rem;
      font-family: "Dancing Script", cursive;
      line-height: 40px;
      font-weight: bold; }
      .user-view__welcome h1 span {
        font-family: "Montserrat", sans-serif;
        font-size: 2rem; }
    .user-view__welcome p {
      margin: 2.5rem 0;
      font-size: 3rem;
      font-family: "Dancing Script", cursive;
      line-height: 40px;
      font-weight: bold; }
      @media screen and (min-width: 780px) {
        .user-view__welcome p {
          margin: 1.5rem 0; } }
      .user-view__welcome p span {
        font-family: "Montserrat", sans-serif;
        font-size: 2rem; }
    .user-view__welcome .btn-logout {
      margin-bottom: 2rem; }
      @media screen and (min-width: 780px) {
        .user-view__welcome .btn-logout {
          margin: 0; } }
  .user-view .transactions {
    margin-top: 2rem; }
    .user-view .transactions h2 {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 2rem; }
    .user-view .transactions-list {
      background-color: #0093e9;
      background-image: linear-gradient(148deg, #0093e9 0%, #80d0c7 100%);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;
      padding: 2rem 0;
      border-radius: 10px;
      max-height: 300px;
      /* Adjust this value as needed */
      overflow-y: scroll; }
      .user-view .transactions-list__item {
        background-color: #f4f4f4;
        width: 90%;
        padding: 0.5rem 0;
        border-radius: 10px; }
        @media screen and (min-width: 780px) {
          .user-view .transactions-list__item {
            width: 70%; } }
